@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    background-color: #ffc1cc;
    border-width: 1px;
    border-color: black;
    width: 19.5rem;
    height: 2em;
}

input:focus {
    border-width: 2px;
    border-color: #039659;
    outline: none;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    color: #039659;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #039659;
    border-radius: 10%;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 10%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #039659;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%)
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.parent {
    background-color: #fffdd1;
    /* border-radius: .5rem; */
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 1rem;
    font-family: 'American Typewriter';
    height: 17rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.remove {
    color: white;
    background-color: #039659;
    border-radius: none;
    padding: .25rem .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.remove:hover {
    background-color: #1a704c;
}

.toCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.finished {
    color: white;
    background-color: #008CBA;
    ;
    border-radius: none;
    padding: .25rem .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.finished:hover {
    background-color: #006f94;
    ;
}

.unfinished {
    color: white;
    background-color: #f44336;
    border-radius: none;
    padding: .25rem .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.unfinished:hover {
    background-color: #b53127;
}