@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    background-color: #ffc1cc;
    border-width: 1px;
    border-color: black;
}

input:focus {
    border-width: 2px;
    border-color: #039659;
    outline: none;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    color: #039659;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #039659;
    border-radius: 10%;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 10%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #039659;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%)
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}